In [4]:
import pandas as pd

In [5]:
movie_merged = pd.read_csv('Movies_Merged.csv')

In [9]:
movie_merged

,Movie_Id,Title,Status,Language,Budget,Revenue,Runtime,Release_Year,Release_Date,Popularity,Vote_Average,Vote_Count,Crew_Name,Actor_Name,Genre_Name,Company_Name,Country_Name
0,5,Four Rooms,Released,En,4000000,4300000,98,1995,09-12-1995 00:00,22.876230,6.5,530,Alexandre Rockwell,Tim Roth,Crime,Miramax Films,United States Of America
1,11,Star Wars,Released,En,11000000,775398007,121,1977,25-05-1977 00:00,126.393695,8.1,6624,George Lucas,Mark Hamill,Adventure,Lucasfilm,United States Of America
2,12,Finding Nemo,Released,En,94000000,940335536,100,2003,30-05-2003 00:00,85.688789,7.6,6122,Andrew Stanton,Albert Brooks,Animation,Pixar Animation Studios,United States Of America
3,13,Forrest Gump,Released,En,55000000,677945399,142,1994,06-07-1994 00:00,138.133331,8.2,7927,Robert Zemeckis,Tom Hanks,Comedy,Paramount Pictures,United States Of America
4,14,American Beauty,Released,En,15000000,356296601,122,1999,15-09-1999 00:00,80.878605,7.9,3313,Sam Mendes,Kevin Spacey,Drama,Dreamworks Skg,United States Of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4792,426067,Midnight Cabaret,Released,En,0,0,94,1990,01-01-1990 00:00,0.001389,0.0,0,NaN,Lisa Hart Carroll,Horror,NaN,NaN
4793,426469,Growing Up Smith,Released,En,0,0,102,2017,03-02-2017 00:00,0.710870,7.4,7,NaN,Roni Akurati,Comedy,NaN,NaN
4794,433715,8 Days,Released,En,0,0,90,2014,15-06-2014 00:00,0.015295,0.0,0,NaN,Nicole Smolen,Thriller,After Eden Pictures,United States Of America
4795,447027,Running Forever,Released,En,0,0,88,2015,27-10-2015 00:00,0.028756,0.0,0,NaN,NaN,Family,New Kingdom Pictures,United States Of America
4796,459488,"To Be Frank, Sinatra at 100",Released,En,2,0,0,2015,12-12-2015 00:00,0.050625,0.0,0,NaN,Tony Oppedisano,Documentary,Eyeline Entertainment,United Kingdom

In [7]:
movie_merged['Release_Year'] = movie_merged['Release_Year'].astype('Int64')

In [8]:
print(movie_merged['Release_Year'].head())

0    1995
1    1977
2    2003
3    1994
4    1999
Name: Release_Year, dtype: Int64

In [10]:
movie_merged['profit'] = movie_merged['Revenue']- movie_merged['Budget'] # regression target

In [11]:
movie_merged['hit'] = movie_merged['profit'].apply(lambda x: 1 if x > 0 else 0) # classification target

In [12]:
numeric_col =['Budget', 'Runtime', 'Release_Year']
for col in numeric_col:
    movie_merged[col] = pd.to_numeric(movie_merged[col], errors='coerce'). fillna(0) # clean Numeric Columns

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
cat_col = ['Genre_Name','Language']
le_dict = {}

In [15]:
for col in cat_col:
    movie_merged[col]= movie_merged[col]. fillna('unknown')
    le = LabelEncoder()
    movie_merged[col]=le.fit_transform(movie_merged[col])
    le_dict[col]= le    # Encode them using LabelEncoder

In [16]:
features = numeric_col + cat_col
x = movie_merged[features]

y_class = movie_merged['hit'] # classification
y_reg = movie_merged['profit'] # Regression

In [17]:
movie_merged.to_csv('Movies_Merged_clean.csv', index=False)

In [18]:
import joblib

In [19]:
joblib.dump(x, 'X_features.pkl')
joblib.dump(y_class, 'y_class.pkl')
joblib.dump(y_reg, 'y_reg.pkl')

['y_reg.pkl']